<div class='modification'>


<%= render @task %>

</div>

<div class="task-actions">
  <%= link_to "Edit this task", edit_task_path(@task), class: "edit-task-link" %> |
  <%= link_to "Back to tasks", tasks_path, class: "back-to-tasks-link" %>

  <%= button_to "Destroy this task", @task, method: :delete, class: "destroy-task-button" %>
</div>
